In [1]:
import pandas as pd
import numpy as np

# read the excel file and make the data frame, select the columns we need.

#challenge: didn't have libraray to read the excel. needed to install the library openpyxl

gender_eco_file_path = '../data/raw/WORLD_Dataset_Gender_Equality_in_the_Economy_5.19.23.xlsx'
df_gd_economy = pd.read_excel(gender_eco_file_path, usecols=(["country", "iso2", "iso3", "region", "wb_econ","sum_gender","hir_gender","pay_gender","anyprotect_gender","anyprotect_preg","disc_edu","term_gender", "disc_propose", "maternal_leave", "paternal_leave", "mtlv_min_wrr_ilo", "mtlv_job_protect", "maternal_self", "anylv_ch_evday", "finbar", "compend", "disc_sex_prim"]))
df_gd_economy

,country,iso2,iso3,region,wb_econ,sum_gender,hir_gender,pay_gender,term_gender,anyprotect_gender,...,disc_propose,maternal_leave,paternal_leave,mtlv_min_wrr_ilo,mtlv_job_protect,maternal_self,anylv_ch_evday,finbar,compend,disc_sex_prim
0,Afghanistan,AF,AFG,South Asia,1,1,2,2,1,1,...,2,2,2,5,2,3.0,1,5.0,3.0,4
1,Albania,AL,ALB,Europe & Central Asia,2,5,5,5,5,5,...,5,5,5,3,5,5.0,5,5.0,3.0,5
2,Algeria,DZ,DZA,Middle East & North Africa,2,3,5,5,4,5,...,2,3,2,5,2,3.0,1,5.0,3.0,5
3,Andorra,AD,AND,Europe & Central Asia,4,5,5,5,5,5,...,1,3,4,5,5,5.0,3,5.0,3.0,5
4,Angola,AO,AGO,Sub-Saharan Africa,2,3,5,5,5,5,...,2,2,2,5,5,5.0,5,NaN,3.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Venezuela,VE,VEN,Americas,2,4,5,4,5,5,...,5,4,2,5,5,5.0,3,5.0,5.0,5
189,Vietnam,VN,VNM,East Asia & Pacific,2,4,5,5,5,5,...,5,4,2,5,5,3.0,5,2.0,3.0,5
190,Yemen,YE,YEM,Middle East & North Africa,1,3,4,4,4,5,...,2,2,1,5,5,3.0,5,5.0,3.0,1
191,Zambia,ZM,ZMB,Sub-Saharan Africa,2,5,5,5,5,5,...,5,3,2,1,5,3.0,5,3.0,2.0,5
192,Zimbabwe,ZW,ZWE,Sub-Saharan Africa,2,5,5,5,5,5,...,2,3,1,5,5,3.0,1,1.0,2.0,5

In [2]:
display(df_gd_economy.columns)

Index(['country', 'iso2', 'iso3', 'region', 'wb_econ', 'sum_gender',
       'hir_gender', 'pay_gender', 'term_gender', 'anyprotect_gender',
       'anyprotect_preg', 'disc_edu', 'disc_propose', 'maternal_leave',
       'paternal_leave', 'mtlv_min_wrr_ilo', 'mtlv_job_protect',
       'maternal_self', 'anylv_ch_evday', 'finbar', 'compend',
       'disc_sex_prim'],
      dtype='object')

In [3]:
df_gd_economy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            193 non-null    object
 1   iso2               192 non-null    object
 2   iso3               193 non-null    object
 3   region             193 non-null    object
 4   wb_econ            193 non-null    int64
 5   sum_gender         193 non-null    int64
 6   hir_gender         193 non-null    int64
 7   pay_gender         193 non-null    int64
 8   term_gender        193 non-null    int64
 9   anyprotect_gender  193 non-null    int64
 10  anyprotect_preg    193 non-null    int64
 11  disc_edu           193 non-null    int64
 12  disc_propose       193 non-null    int64
 13  maternal_leave     193 non-null    int64
 14  paternal_leave     193 non-null    int64
 15  mtlv_min_wrr_ilo   193 non-null    int64
 16  mtlv_job_protect   193 non-null    int64
 17  maternal_self      187 non-null    float64
 18  anylv_ch_evday     193 non-null    int64
 19  finbar             180 non-null    float64
 20  compend            182 non-null    float64
 21  disc_sex_prim      193 non-null    int64
dtypes: float64(3), int64(15), object(4)
memory usage: 33.3+ KB

In [4]:
df_gd_economy.isna().sum()

country               0
iso2                  1
iso3                  0
region                0
wb_econ               0
sum_gender            0
hir_gender            0
pay_gender            0
term_gender           0
anyprotect_gender     0
anyprotect_preg       0
disc_edu              0
disc_propose          0
maternal_leave        0
paternal_leave        0
mtlv_min_wrr_ilo      0
mtlv_job_protect      0
maternal_self         6
anylv_ch_evday        0
finbar               13
compend              11
disc_sex_prim         0
dtype: int64

In [5]:
df_gd_economy['iso2'].unique()

array(['AF', 'AL', 'DZ', 'AD', 'AO', 'AG', 'AR', 'AM', 'AU', 'AT', 'AZ',
       'BS', 'BH', 'BD', 'BB', 'BY', 'BE', 'BZ', 'BJ', 'BT', 'BO', 'BA',
       'BW', 'BR', 'BN', 'BG', 'BF', 'BI', 'KH', 'CM', 'CA', 'CV', 'CF',
       'TD', 'CL', 'CN', 'CO', 'KM', 'CD', 'CG', 'CR', 'CI', 'HR', 'CU',
       'CY', 'CZ', 'DK', 'DJ', 'DM', 'DO', 'EC', 'EG', 'SV', 'GQ', 'ER',
       'EE', 'ET', 'FJ', 'FI', 'FR', 'GA', 'GM', 'GE', 'DE', 'GH', 'GR',
       'GD', 'GT', 'GN', 'GW', 'GY', 'HT', 'HN', 'HU', 'IS', 'IN', 'ID',
       'IR', 'IQ', 'IE', 'IL', 'IT', 'JM', 'JP', 'JO', 'KZ', 'KE', 'KI',
       'KP', 'KR', 'KW', 'KG', 'LA', 'LV', 'LB', 'LS', 'LR', 'LY', 'LI',
       'LT', 'LU', 'MK', 'MG', 'MW', 'MY', 'MV', 'ML', 'MT', 'MH', 'MR',
       'MU', 'MX', 'FM', 'MD', 'MC', 'MN', 'ME', 'MA', 'MZ', 'MM', nan,
       'NR', 'NP', 'NL', 'NZ', 'NI', 'NE', 'NG', 'NO', 'OM', 'PK', 'PW',
       'PA', 'PG', 'PY', 'PE', 'PH', 'PL', 'PT', 'QA', 'RO', 'RU', 'RW',
       'WS', 'SM', 'ST', 'SA', 'SN', 'RS', 'SC', 'SL', 'SG', 'SK', 'SI',
       'SB', 'SO', 'ZA', 'SS', 'ES', 'LK', 'KN', 'LC', 'VC', 'SD', 'SR',
       'SZ', 'SE', 'CH', 'SY', 'TJ', 'TZ', 'TH', 'TL', 'TG', 'TO', 'TT',
       'TN', 'TR', 'TM', 'TV', 'UG', 'UA', 'AE', 'GB', 'US', 'UY', 'UZ',
       'VU', 'VE', 'VN', 'YE', 'ZM', 'ZW'], dtype=object)

In [6]:
#replace the null value that is less that 10 with the mode and more than 10 with 'Unkown'

def replace_nulls_conditionally(df_gd_economy, columns, threshold=10, other_value='Unknown'):
    
    df_gd_economy2 = df_gd_economy.copy()
    
    for column in columns:
         null_count = df_gd_economy[column].isna().sum()
         if null_count < threshold:
             top_value = df_gd_economy2[column].mode()[0]
             df_gd_economy2[column] = df_gd_economy2[column].fillna(top_value)
         else:
             df_gd_economy2[column] = df_gd_economy2[column].fillna(other_value)
             
    return df_gd_economy2

        # null_count = df[column].isna().sum()
        # if null_count < threshold:
            # top_value = df[column].mode()[0]
            # df[column] = df[column].replace(np.nan, top_value)
        # else:
            # df[column] = df[column].replace(np.nan, other_value)
        # return df 
df_gd_economy = replace_nulls_conditionally(df_gd_economy, ['maternal_self', 'finbar','compend'])
display(df_gd_economy)

,country,iso2,iso3,region,wb_econ,sum_gender,hir_gender,pay_gender,term_gender,anyprotect_gender,...,disc_propose,maternal_leave,paternal_leave,mtlv_min_wrr_ilo,mtlv_job_protect,maternal_self,anylv_ch_evday,finbar,compend,disc_sex_prim
0,Afghanistan,AF,AFG,South Asia,1,1,2,2,1,1,...,2,2,2,5,2,3.0,1,5.0,3.0,4
1,Albania,AL,ALB,Europe & Central Asia,2,5,5,5,5,5,...,5,5,5,3,5,5.0,5,5.0,3.0,5
2,Algeria,DZ,DZA,Middle East & North Africa,2,3,5,5,4,5,...,2,3,2,5,2,3.0,1,5.0,3.0,5
3,Andorra,AD,AND,Europe & Central Asia,4,5,5,5,5,5,...,1,3,4,5,5,5.0,3,5.0,3.0,5
4,Angola,AO,AGO,Sub-Saharan Africa,2,3,5,5,5,5,...,2,2,2,5,5,5.0,5,Unknown,3.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Venezuela,VE,VEN,Americas,2,4,5,4,5,5,...,5,4,2,5,5,5.0,3,5.0,5.0,5
189,Vietnam,VN,VNM,East Asia & Pacific,2,4,5,5,5,5,...,5,4,2,5,5,3.0,5,2.0,3.0,5
190,Yemen,YE,YEM,Middle East & North Africa,1,3,4,4,4,5,...,2,2,1,5,5,3.0,5,5.0,3.0,1
191,Zambia,ZM,ZMB,Sub-Saharan Africa,2,5,5,5,5,5,...,5,3,2,1,5,3.0,5,3.0,2.0,5
192,Zimbabwe,ZW,ZWE,Sub-Saharan Africa,2,5,5,5,5,5,...,2,3,1,5,5,3.0,1,1.0,2.0,5

In [7]:
df_gd_economy.isna().sum()

country              0
iso2                 1
iso3                 0
region               0
wb_econ              0
sum_gender           0
hir_gender           0
pay_gender           0
term_gender          0
anyprotect_gender    0
anyprotect_preg      0
disc_edu             0
disc_propose         0
maternal_leave       0
paternal_leave       0
mtlv_min_wrr_ilo     0
mtlv_job_protect     0
maternal_self        0
anylv_ch_evday       0
finbar               0
compend              0
disc_sex_prim        0
dtype: int64

In [11]:
df_gd_economy['iso2'] = df_gd_economy['iso2'].fillna('NA')

In [12]:
df_gd_economy.iso2.unique()

array(['AF', 'AL', 'DZ', 'AD', 'AO', 'AG', 'AR', 'AM', 'AU', 'AT', 'AZ',
       'BS', 'BH', 'BD', 'BB', 'BY', 'BE', 'BZ', 'BJ', 'BT', 'BO', 'BA',
       'BW', 'BR', 'BN', 'BG', 'BF', 'BI', 'KH', 'CM', 'CA', 'CV', 'CF',
       'TD', 'CL', 'CN', 'CO', 'KM', 'CD', 'CG', 'CR', 'CI', 'HR', 'CU',
       'CY', 'CZ', 'DK', 'DJ', 'DM', 'DO', 'EC', 'EG', 'SV', 'GQ', 'ER',
       'EE', 'ET', 'FJ', 'FI', 'FR', 'GA', 'GM', 'GE', 'DE', 'GH', 'GR',
       'GD', 'GT', 'GN', 'GW', 'GY', 'HT', 'HN', 'HU', 'IS', 'IN', 'ID',
       'IR', 'IQ', 'IE', 'IL', 'IT', 'JM', 'JP', 'JO', 'KZ', 'KE', 'KI',
       'KP', 'KR', 'KW', 'KG', 'LA', 'LV', 'LB', 'LS', 'LR', 'LY', 'LI',
       'LT', 'LU', 'MK', 'MG', 'MW', 'MY', 'MV', 'ML', 'MT', 'MH', 'MR',
       'MU', 'MX', 'FM', 'MD', 'MC', 'MN', 'ME', 'MA', 'MZ', 'MM', 'NA',
       'NR', 'NP', 'NL', 'NZ', 'NI', 'NE', 'NG', 'NO', 'OM', 'PK', 'PW',
       'PA', 'PG', 'PY', 'PE', 'PH', 'PL', 'PT', 'QA', 'RO', 'RU', 'RW',
       'WS', 'SM', 'ST', 'SA', 'SN', 'RS', 'SC', 'SL', 'SG', 'SK', 'SI',
       'SB', 'SO', 'ZA', 'SS', 'ES', 'LK', 'KN', 'LC', 'VC', 'SD', 'SR',
       'SZ', 'SE', 'CH', 'SY', 'TJ', 'TZ', 'TH', 'TL', 'TG', 'TO', 'TT',
       'TN', 'TR', 'TM', 'TV', 'UG', 'UA', 'AE', 'GB', 'US', 'UY', 'UZ',
       'VU', 'VE', 'VN', 'YE', 'ZM', 'ZW'], dtype=object)

In [13]:
df_gd_economy

,country,iso2,iso3,region,wb_econ,sum_gender,hir_gender,pay_gender,term_gender,anyprotect_gender,...,disc_propose,maternal_leave,paternal_leave,mtlv_min_wrr_ilo,mtlv_job_protect,maternal_self,anylv_ch_evday,finbar,compend,disc_sex_prim
0,Afghanistan,AF,AFG,South Asia,1,1,2,2,1,1,...,2,2,2,5,2,3.0,1,5.0,3.0,4
1,Albania,AL,ALB,Europe & Central Asia,2,5,5,5,5,5,...,5,5,5,3,5,5.0,5,5.0,3.0,5
2,Algeria,DZ,DZA,Middle East & North Africa,2,3,5,5,4,5,...,2,3,2,5,2,3.0,1,5.0,3.0,5
3,Andorra,AD,AND,Europe & Central Asia,4,5,5,5,5,5,...,1,3,4,5,5,5.0,3,5.0,3.0,5
4,Angola,AO,AGO,Sub-Saharan Africa,2,3,5,5,5,5,...,2,2,2,5,5,5.0,5,Unknown,3.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Venezuela,VE,VEN,Americas,2,4,5,4,5,5,...,5,4,2,5,5,5.0,3,5.0,5.0,5
189,Vietnam,VN,VNM,East Asia & Pacific,2,4,5,5,5,5,...,5,4,2,5,5,3.0,5,2.0,3.0,5
190,Yemen,YE,YEM,Middle East & North Africa,1,3,4,4,4,5,...,2,2,1,5,5,3.0,5,5.0,3.0,1
191,Zambia,ZM,ZMB,Sub-Saharan Africa,2,5,5,5,5,5,...,5,3,2,1,5,3.0,5,3.0,2.0,5
192,Zimbabwe,ZW,ZWE,Sub-Saharan Africa,2,5,5,5,5,5,...,2,3,1,5,5,3.0,1,1.0,2.0,5

In [14]:
display(df_gd_economy.columns)

Index(['country', 'iso2', 'iso3', 'region', 'wb_econ', 'sum_gender',
       'hir_gender', 'pay_gender', 'term_gender', 'anyprotect_gender',
       'anyprotect_preg', 'disc_edu', 'disc_propose', 'maternal_leave',
       'paternal_leave', 'mtlv_min_wrr_ilo', 'mtlv_job_protect',
       'maternal_self', 'anylv_ch_evday', 'finbar', 'compend',
       'disc_sex_prim'],
      dtype='object')

In [15]:
#df= df.rename(columns={‘currrnt name’:‘target_name’, ‘current name’:’target name’, etc. })

df_gd_economy1 = df_gd_economy.rename (columns = {'sum_gender': 'gd_ban' ,
       'hir_gender':'gd_hiring_ban', 'pay_gender':'g_equal_pay_guarantee', 'term_gender':'gd_termination_ban', 
        'anyprotect_gender': 'gd_ban_law', 'anyprotect_preg' : 'preg_discrimination_ban' , 
         'disc_edu' : 'gd_prevention_body', 'disc_propose':'gd_policy_body',
       'maternal_leave':'ml_paid', 'paternal_leave': 'pl_paid', 'mtlv_min_wrr_ilo' : 'lowest_wage_replacement_paid_leave_mothers',
       'mtlv_job_protect' :'ml_job_protection', 'maternal_self': 'ml_self_employed_paid' , 'anylv_ch_evday' :'parental_leave_child_health', 
        'finbar' : 'tuition_free_education_policy','compend' : ' compulsory_education_policy', 
        'disc_sex_prim': 'gd_ban_education', 'iso3': 'country code'})

df_gd_economy1

,country,iso2,country code,region,wb_econ,gd_ban,gd_hiring_ban,g_equal_pay_guarantee,gd_termination_ban,gd_ban_law,...,gd_policy_body,ml_paid,pl_paid,lowest_wage_replacement_paid_leave_mothers,ml_job_protection,ml_self_employed_paid,parental_leave_child_health,tuition_free_education_policy,compulsory_education_policy,gd_ban_education
0,Afghanistan,AF,AFG,South Asia,1,1,2,2,1,1,...,2,2,2,5,2,3.0,1,5.0,3.0,4
1,Albania,AL,ALB,Europe & Central Asia,2,5,5,5,5,5,...,5,5,5,3,5,5.0,5,5.0,3.0,5
2,Algeria,DZ,DZA,Middle East & North Africa,2,3,5,5,4,5,...,2,3,2,5,2,3.0,1,5.0,3.0,5
3,Andorra,AD,AND,Europe & Central Asia,4,5,5,5,5,5,...,1,3,4,5,5,5.0,3,5.0,3.0,5
4,Angola,AO,AGO,Sub-Saharan Africa,2,3,5,5,5,5,...,2,2,2,5,5,5.0,5,Unknown,3.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Venezuela,VE,VEN,Americas,2,4,5,4,5,5,...,5,4,2,5,5,5.0,3,5.0,5.0,5
189,Vietnam,VN,VNM,East Asia & Pacific,2,4,5,5,5,5,...,5,4,2,5,5,3.0,5,2.0,3.0,5
190,Yemen,YE,YEM,Middle East & North Africa,1,3,4,4,4,5,...,2,2,1,5,5,3.0,5,5.0,3.0,1
191,Zambia,ZM,ZMB,Sub-Saharan Africa,2,5,5,5,5,5,...,5,3,2,1,5,3.0,5,3.0,2.0,5
192,Zimbabwe,ZW,ZWE,Sub-Saharan Africa,2,5,5,5,5,5,...,2,3,1,5,5,3.0,1,1.0,2.0,5

In [17]:
df_gd_economy1.region.unique()

array(['South Asia', 'Europe & Central Asia',
       'Middle East & North Africa', 'Sub-Saharan Africa', 'Americas',
       'East Asia & Pacific'], dtype=object)

In [18]:
df_gd_economy1.country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Cameroon', 'Canada', 'Cabo Verde', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros',
       'Democratic Republic of the Congo', 'Republic of the Congo',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji',
       'Finland', 'France', 'Gabon', 'The Gambia', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', "Democratic People's Republic of Korea",
       'Republic of Korea', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'North Macedonia', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia, Federated States of', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'The Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'The Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Vincent and the Grenadines', 'Sudan', 'Suriname', 'Eswatini',
       'Sweden', 'Switzerland', 'Syria', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Türkiye', 'Turkmenistan', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [ ]:
# Asia Pacific - New Zealand, Japan, Pakistan
# Europe - Norway, France, Germany, Greece
# Latin America & North America - United States, Brazil Colombia
# Africa - Ghana, Cameroon

In [19]:
df_gd_economy2 = df_gd_economy1[df_gd_economy1['country'].isin(['United States of America', 'New Zealand', 'Germany', 'Japan', 
                                     'Pakistan', 'Norway', 'France', 'Greece', 
                                     'Brazil', 'Colombia', 'Ghana', 'Cameroon'])]
df_gd_economy2

,country,iso2,country code,region,wb_econ,gd_ban,gd_hiring_ban,g_equal_pay_guarantee,gd_termination_ban,gd_ban_law,...,gd_policy_body,ml_paid,pl_paid,lowest_wage_replacement_paid_leave_mothers,ml_job_protection,ml_self_employed_paid,parental_leave_child_health,tuition_free_education_policy,compulsory_education_policy,gd_ban_education
23,Brazil,BR,BRA,Americas,2,4,5,5,5,5,...,5,3,2,5,5,5.0,5,5.0,5.0,5
29,Cameroon,CM,CMR,Sub-Saharan Africa,2,2,5,4,1,5,...,2,3,1,5,5,3.0,5,2.0,2.0,4
36,Colombia,CO,COL,Americas,2,3,4,5,4,5,...,5,3,3,5,5,5.0,1,5.0,3.0,5
59,France,FR,FRA,Europe & Central Asia,4,5,5,5,5,5,...,5,4,5,2,5,5.0,3,5.0,3.0,5
63,Germany,DE,DEU,Europe & Central Asia,4,5,5,5,5,5,...,5,5,5,5,5,5.0,5,5.0,5.0,5
64,Ghana,GH,GHA,Sub-Saharan Africa,2,3,5,4,5,5,...,2,2,1,5,5,3.0,1,5.0,3.0,3
65,Greece,GR,GRC,Europe & Central Asia,4,5,5,5,5,5,...,5,4,2,2,5,5.0,5,5.0,3.0,3
83,Japan,JP,JPN,East Asia & Pacific,4,4,5,4,5,5,...,5,5,5,3,5,3.0,3,5.0,3.0,5
124,New Zealand,NZ,NZL,East Asia & Pacific,4,5,5,5,5,5,...,5,4,5,5,5,5.0,5,5.0,3.0,5
128,Norway,NO,NOR,Europe & Central Asia,4,5,5,5,5,5,...,5,4,5,5,5,5.0,5,5.0,3.0,3
130,Pakistan,PK,PAK,South Asia,2,3,5,3,5,5,...,4,2,1,5,5,3.0,1,5.0,5.0,3
184,United States of America,US,USA,Americas,4,3,5,4,5,5,...,5,1,1,1,1,1.0,1,5.0,3.0,5

In [20]:
# reset row index keeping the old index as a coulumn
df_gd_economy2_reset = df_gd_economy2.reset_index()
df_gd_economy2_reset

,index,country,iso2,country code,region,wb_econ,gd_ban,gd_hiring_ban,g_equal_pay_guarantee,gd_termination_ban,...,gd_policy_body,ml_paid,pl_paid,lowest_wage_replacement_paid_leave_mothers,ml_job_protection,ml_self_employed_paid,parental_leave_child_health,tuition_free_education_policy,compulsory_education_policy,gd_ban_education
0,23,Brazil,BR,BRA,Americas,2,4,5,5,5,...,5,3,2,5,5,5.0,5,5.0,5.0,5
1,29,Cameroon,CM,CMR,Sub-Saharan Africa,2,2,5,4,1,...,2,3,1,5,5,3.0,5,2.0,2.0,4
2,36,Colombia,CO,COL,Americas,2,3,4,5,4,...,5,3,3,5,5,5.0,1,5.0,3.0,5
3,59,France,FR,FRA,Europe & Central Asia,4,5,5,5,5,...,5,4,5,2,5,5.0,3,5.0,3.0,5
4,63,Germany,DE,DEU,Europe & Central Asia,4,5,5,5,5,...,5,5,5,5,5,5.0,5,5.0,5.0,5
5,64,Ghana,GH,GHA,Sub-Saharan Africa,2,3,5,4,5,...,2,2,1,5,5,3.0,1,5.0,3.0,3
6,65,Greece,GR,GRC,Europe & Central Asia,4,5,5,5,5,...,5,4,2,2,5,5.0,5,5.0,3.0,3
7,83,Japan,JP,JPN,East Asia & Pacific,4,4,5,4,5,...,5,5,5,3,5,3.0,3,5.0,3.0,5
8,124,New Zealand,NZ,NZL,East Asia & Pacific,4,5,5,5,5,...,5,4,5,5,5,5.0,5,5.0,3.0,5
9,128,Norway,NO,NOR,Europe & Central Asia,4,5,5,5,5,...,5,4,5,5,5,5.0,5,5.0,3.0,3
10,130,Pakistan,PK,PAK,South Asia,2,3,5,3,5,...,4,2,1,5,5,3.0,1,5.0,5.0,3
11,184,United States of America,US,USA,Americas,4,3,5,4,5,...,5,1,1,1,1,1.0,1,5.0,3.0,5