In [3]:
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
import geodatasets

file_path = "../data/raw/HDI.csv"
df = pd.read_csv(file_path,usecols = ['ISO3','Country','Continent','HDI Rank (2021)','Labour force participation rate, female (% ages 15 and older) (2017)','Labour force participation rate, female (% ages 15 and older) (2018)','Labour force participation rate, female (% ages 15 and older) (2019)','Labour force participation rate, female (% ages 15 and older) (2020)','Labour force participation rate, female (% ages 15 and older) (2021)'])
display(df)

,ISO3,Country,Continent,HDI Rank (2021),"Labour force participation rate, female (% ages 15 and older) (2017)","Labour force participation rate, female (% ages 15 and older) (2018)","Labour force participation rate, female (% ages 15 and older) (2019)","Labour force participation rate, female (% ages 15 and older) (2020)","Labour force participation rate, female (% ages 15 and older) (2021)"
0,AFG,Afghanistan,Asia,180.0,20.887,21.228,21.566,16.189,14.848
1,AGO,Angola,Africa,148.0,74.912,74.955,75.011,73.618,73.968
2,ALB,Albania,Europe,67.0,49.510,51.189,52.723,49.786,50.733
3,AND,Andorra,Europe,40.0,NaN,NaN,NaN,NaN,NaN
4,ARE,United Arab Emirates,Asia,26.0,51.947,48.951,48.923,45.703,46.542
...,...,...,...,...,...,...,...,...,...
190,WSM,Samoa,Oceania,111.0,31.272,31.323,31.268,30.775,30.700
191,YEM,Yemen,Asia,183.0,6.095,6.115,6.138,6.081,5.995
192,ZAF,South Africa,Africa,109.0,48.464,48.370,48.453,44.044,46.212
193,ZMB,Zambia,Africa,154.0,69.681,69.793,69.907,69.241,69.230
194,ZWE,Zimbabwe,Africa,146.0,80.285,80.309,80.339,78.980,79.308

In [4]:
world = gpd.read_file(geodatasets.get_path('naturalearth land'))
world
#geodatasets.data.naturalearth.land
#gpd.datasets.get_path('natural_earth_lowres')
#world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

,featurecla,scalerank,min_zoom,geometry
0,Land,1,1.0,"POLYGON ((-59.57209 -80.04018, -59.86585 -80.5..."
1,Land,1,1.0,"POLYGON ((-159.20818 -79.49706, -161.1276 -79...."
2,Land,1,0.0,"POLYGON ((-45.15476 -78.04707, -43.92083 -78.4..."
3,Land,1,1.0,"POLYGON ((-121.21151 -73.50099, -119.91885 -73..."
4,Land,1,1.0,"POLYGON ((-125.55957 -73.48135, -124.03188 -73..."
...,...,...,...,...
122,Land,1,1.0,"POLYGON ((51.13619 80.54728, 49.79368 80.41543..."
123,Land,0,0.0,"POLYGON ((99.93976 78.88094, 97.75794 78.7562,..."
124,Land,0,0.0,"POLYGON ((-87.02 79.66, -85.81435 79.3369, -87..."
125,Land,0,0.0,"POLYGON ((-68.5 83.10632, -65.82735 83.02801, ..."
126,Land,0,0.0,"POLYGON ((-27.10046 83.51966, -20.84539 82.726..."

In [6]:

world = gpd.read_file(geodatasets.get_path('naturalearth land'))
world
world = world.merge(df, how='left', left_on='Country', right_on='Country')

# Step 4: Plot the map
# Normalize the HDI values for color mapping
norm = mcolors.Normalize(vmin=world['HDI Rank (2021)'].min(), vmax=world['HDI Rank (2021)'].max())

# Create a color map (choose a suitable colormap)
cmap = plt.cm.viridis  # A colormap ranging from light to dark

# Plot the map
fig, ax = plt.subplots(1, 1, figsize=(15, 10))
world.boundary.plot(ax=ax, linewidth=1)  # Plot boundaries
world.plot(column='HDI Rank (2021)', ax=ax, cmap=cmap, norm=norm, legend=True, 
           legend_kwds={'label': "Human Development Index (HDI)", 'orientation': "horizontal"})

# Show the map
plt.title('World Map of Human Development Index (HDI)')
plt.show()

KeyError: 'Country'